<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hegargarcia.mylittleshop">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".sell.SellEditActivity"></activity>
        <activity android:name=".client.ClientEditActivity" />
        <activity android:name=".product.ProductEditActivity" />
        <activity android:name=".sell.SellFormActivity" />
        <activity android:name=".sell.SellListActivity" />
        <activity android:name=".product.ProductFormActivity" />
        <activity android:name=".product.ProductListActivity" />
        <activity android:name=".client.ClientFormActivity" />
        <activity android:name=".client.ClientListActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>